# Autor: Tcukavin13

####################### Exclude all files and folders #######################

# Exclude all other files
*.*

# Exclude all other folders in project with files
/**/*.*

############################# Include need files ############################

# Images
!/**/*.png

# Include git services files
!.gitignore
!.gitmodule
!.git
!Readme.md

# Include CMake files
!/**/CMakeLists.txt
!/**/CMakePresets.json

# Include build files
!*.hex
!*.srec

# Include all project files
# ASM
!/**/*.S
!/**/*.s
# C
!/**/*.c
!/**/*.h
# C++
!/**/*.cpp
!/**/*.hpp

# Include static libraries
!/**/*.a

# Include linker files
!/**/*.ld

####### Bypass the problem with previous excluded dotted folders #######
# Include .vscode back
!/**/.vscode/
# Exclude all files in the .vscode forder
 /**/.vscode/*
# Include only json files from the .vscode forder
!/**/.vscode/*.json

# Include matlab and simulink files
#!/**/*.slx
#!/*.mat

# end of gitignore file 
